{# empty Twig template #}
{%extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{% block content%}
<h2>Điều chỉnh quyền hạn người dùng</h2>
<h3>User: {{quyenlinhvuc.user.username}} Id: {{quyenlinhvuc.user.id}}</h3>
{{form(form)}}
{%endblock%}